body {
  margin: 0;
  padding: 0;
  background-image: url(./2024.avif);
  background-size: cover;
  height: 100vh;
}

.lists {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  margin-top: 90px;

  /* margin-top: 20%; */
}

.list {
  border: 3px solid black;
  border-radius: 12px;
  width: 350px;
  height: 100px;
  padding: 10px;
  background-color: rgb(120, 120, 120);
}

.add {
  font-size: 15px;
  font-family: sans-serif;
  font-weight: 300;
  margin-top: 54px;
  border-radius: 12px;
  background-color: red;
}

.popup {
  color: white;
  border: 3px solid red;
  background-color: #222;
  border-radius: 13px;
  width: 430px;
  height: 630px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 200px;
}
.title {
  margin-top: 0;
  font-weight: 300;
  margin-bottom: 0;
}
.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
}

.input {
  width: 16pc;
  height: 20px;
}
.inputd {
  width: 257px;
  height: 100px;
}
.content {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.close-btn {
  position: relative;
  right: -302px;
  top: -7px;
  width: 30px;
  height: 30px;
  background-color: #222;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 50px;
  border: 1px solid red;
}
