body {
  margin: 0;
  padding: 0;
  background-image: url(./2024.avif);
  background-size: cover;
  height: 100vh;
}

.lists {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
  align-items: flex-start;

  /* margin-top: 20%; */
}

.list {
  border: 3px solid black;
  border-radius: 12px;
  width: 350px;
  padding: 10px;
  background-color: rgb(120, 120, 120);
}

.titleDes {
  position: absolute;
  top: -12px;
  left: 50px;
}

.addedList {
  border-radius: 12px;
  width: 320px;
  height: 100px;
  background-color: #fff;
  margin-bottom: 5px;
  margin: 0 auto;
  padding: 10px;
  margin-top: 10px;
  display: grid;
  flex-direction: row;
  position: relative;
  flex: 1;
}
.addedList:hover {
  border: 2px solid red;
}

@media (max-width: 679px) {
  .lists {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 15px;
  }
  .list {
    border: 3px solid black;
    border-radius: 12px;
    width: 87%;
    height: 100px;
    padding: 10px;
    background-color: rgb(120, 120, 120);
  }
}

.add {
  font-size: 15px;
  font-family: sans-serif;
  font-weight: 600;
  margin-top: 45px;
  border-radius: 12px;
  color: red;
}

.add:hover {
  border: 1px solid black;
  width: 200px;
  height: 30px;
  background-color: #222;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup {
  color: white;
  border: 3px solid red;
  background-color: #222;
  border-radius: 13px;
  width: 430px;
  height: 630px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 200px;
}
.title {
  margin-top: 0;
  font-weight: 300;
  margin-bottom: 0;
}
.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
}

.input {
  width: 16pc;
  height: 20px;
  border-radius: 5px;
  background-color: FFF;
}
.inputd {
  width: 257px;
  height: 100px;
}
.content {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.close-btn {
  position: relative;
  right: -302px;
  top: -7px;
  width: 30px;
  height: 30px;
  background-color: #222;
  color: #fff;
  font-size: 25px;
  border-radius: 50px;
}

.close-btn:hover {
  border: 1px solid red;
}
